<!-- 그래프 -->
<svg width="200" height="200">
  <PolyGraph :stats="stats"></PolyGraph>
</svg>

<!-- 컨트롤러 -->
<div v-for="stat in stats">
  <label>{{stat.label}}</label>
  <input type="range" v-model="stat.value" min="0" max="100">
  <span>{{stat.value}}</span>
  <button @click="remove(stat)" class="remove">X</button>
</div>

<!-- 입력 폼 -->
<form id="add">
  <input name="newlabel" v-model="newLabel">
  <button @click="add">스탯 추가</button>
</form>

<!-- 스탯 배열 시각적인 출력 -->
<pre id="raw">{{ stats }}</pre>
