<h2>텍스트 입력</h2>
<input v-model="text"> {{ text }}

<h2>채크박스</h2>
<input type="checkbox" id="checkbox" v-model="checked">
<label for="checkbox">체크됨: {{ checked }}</label>

<!--
  여러 체크박스 값을 v-model을 사용하여
  하나의 배열에 바인딩할 수 있습니다.
-->
<h2>멀티 채크박스</h2>
<input type="checkbox" id="chulsoo" value="철수" v-model="checkedNames">
<label for="chulsoo">철수</label>
<input type="checkbox" id="yuri" value="유리" v-model="checkedNames">
<label for="yuri">유리</label>
<input type="checkbox" id="maenggu" value="맹구" v-model="checkedNames">
<label for="maenggu">맹구</label>
<p>체크된 이름: <pre>{{ checkedNames }}</pre></p>

<h2>라디오</h2>
<input type="radio" id="seoul" value="서울" v-model="picked">
<label for="seoul">서울</label>
<br>
<input type="radio" id="busan" value="부산" v-model="picked">
<label for="busan">부산</label>
<br>
<span>고른것: {{ picked }}</span>

<h2>선택</h2>
<select v-model="selected">
  <option disabled value="">하나를 선택하세요</option>
  <option>가</option>
  <option>나</option>
  <option>다</option>
</select>
<span>선택함: {{ selected }}</span>

<h2>복수 선택</h2>
<select v-model="multiSelected" multiple style="width:100px">
  <option>무궁화</option>
  <option>진달래</option>
  <option>개나리</option>
</select>
<span>선택함: {{ multiSelected }}</span>
