<section class="todoapp">
  <header class="header">
    <h1>해야 할 일</h1>
    <input
      class="new-todo"
      autofocus
      placeholder="무엇을 해야 하나요?"
      @keyup.enter="addTodo"
    >
  </header>
  <section class="main" v-show="todos.length">
    <input
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
      :checked="remaining === 0"
      @change="toggleAll"
    >
    <label for="toggle-all">모두 완료로 표시</label>
    <ul class="todo-list">
      <li
        v-for="todo in filteredTodos"
        class="todo"
        :key="todo.id"
        :class="{ completed: todo.completed, editing: todo === editedTodo }"
      >
        <div class="view">
          <input class="toggle" type="checkbox" v-model="todo.completed">
          <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
          <button class="destroy" @click="removeTodo(todo)"></button>
        </div>
        <input
          v-if="todo === editedTodo"
          class="edit"
          type="text"
          v-model="todo.title"
          @vnode-mounted="({ el }) => el.focus()"
          @blur="doneEdit(todo)"
          @keyup.enter="doneEdit(todo)"
          @keyup.escape="cancelEdit(todo)"
        >
      </li>
    </ul>
  </section>
  <footer class="footer" v-show="todos.length">
    <span class="todo-count">
      <strong>{{ remaining }}</strong>
      <span>개 남음</span>
    </span>
    <ul class="filters">
      <li>
        <a href="#/all" :class="{ selected: visibility === 'all' }">전체</a>
      </li>
      <li>
        <a href="#/active" :class="{ selected: visibility === 'active' }">해야할 일</a>
      </li>
      <li>
        <a href="#/completed" :class="{ selected: visibility === 'completed' }">완료된 일</a>
      </li>
    </ul>
    <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
      완료된 것 삭제
    </button>
  </footer>
</section>
